title Магазин сноубордов
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width")
link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic-ext', rel='stylesheet', type='text/css')
script(src="js/jquery-1.11.1.min.js")
script(src="js/jquery-ui.custom.min.js")
script(src="js/modernizr.2.js")
script(src="js/jquery.bxslider.min.js")
script(src="js/selectordie.min.js")
script(src="js/jquery.ui.touch-punch.min.js")
| <!--[if gt IE 9]><!--><link rel="stylesheet" media="all" href="styles/main_global.css"><!--<![endif]--><!--[if IE 9]><link rel="stylesheet" media="all" href="styles/ie_9_global.css"><!--[if IE 8]><link rel="stylesheet" media="all" href="styles/ie_8_global.css"><script src="js/ie8.js"></script><![endif]-->
script(src='js/jquery.sliderkit.1.9.2.pack.js')
script(src="js/frontend.js")
script(src="js/slider_ranges.js")
script(type="text/javascript", src="//vk.com/js/api/openapi.js?115")