header.header
		.head_bar
				.aux_nav_hold
						span.aux_nav_control.js_control_1
						ul.aux_nav
								li.aux_n_item.active
										a.aux_n_i_link(href="#" title="#") О нас
								li.aux_n_item
										a.aux_n_i_link(href="#" title="#") Скидки
								li.aux_n_item
										a.aux_n_i_link(href="#" title="#") Оплата и доставка
								li.aux_n_item
										a.aux_n_i_link(href="#" title="#") Помощь
								li.aux_n_item
										a.aux_n_i_link(href="#" title="#") Контакты
				.search_box
						label.hide(for='search_site') Поиск по каталогу
						input.form_f_search(type='text', name='search_site', placeholder='Поиск по каталогу',id='search_site')
						input.form_submit_search(type='submit', value='')
		.head_main
				h1.logo_hold
						a.logo(href="#" title="#") Магазин сноубордов
				.contacts_block
						ul.contacts_list
								li.contacts_l_item пн-сб 10:00-18:00
								li.contacts_l_item.mod_fwb +7 (495) 988 25 00
								li.contacts_l_item.mod_fwb 8 (800) 333 82 10
								li.contacts_l_item Бесплатный звонок по России
								li.contacts_l_item
										a.link_st_2.js_control_v1(href="#" title="#") Заказать бесплатный звонок
						ul.contacts_list
								li.contacts_l_item пн-вс 10:00-22:00
								li.contacts_l_item г.Москва, м. Авиамоторная
								li.contacts_l_item ул. 5-я Кабельная, д. 2, стр. 1
								li.contacts_l_item ТРК СпортЕХ
								li.contacts_l_item
										a.link_st_3(href="#" title="#") Схема проезда
				include cart_with_goods
		nav.nav_hold
				ul.discount_menu
						li.discount_m_item
								a.discount_m_i_link(href='#') Распродажа
						li.discount_m_item
								a.discount_m_i_link(href='#') Сток-50%
				ul.nav(role='navigation')
						li.nav_item
								a.nav_link(href="#" title="#"): span Сноуборды
								.nav_submenu_hold
										.nav_s_h_item.mod_1
												h3.nav_s_title Пол
												ul.nav_submenu
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Мужской
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Женский
										.nav_s_h_item.mod_2
												h3.nav_s_title Бренд
												ul.nav_submenu.mod_3_col
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Atom
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") GNU
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Rome
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Backhill
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Lib Tech
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Rossignol
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Burton
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Never Summer
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Roxy
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") DC
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Niche
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") K2
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Ride
						li.nav_item
								a.nav_link(href="#" title="#"): span Ботинки
								.nav_submenu_hold
										.nav_s_h_item.mod_1
												h3.nav_s_title Пол
												ul.nav_submenu
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Мужской
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Женский
										.nav_s_h_item.mod_2
												h3.nav_s_title Бренд
												ul.nav_submenu.mod_3_col
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Atom
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") GNU
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Rome
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Backhill
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Lib Tech
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Rossignol
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Burton
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Never Summer
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Roxy
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") DC
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Niche
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") K2
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Ride
						li.nav_item
								a.nav_link(href="#" title="#"): span Крепления
								.nav_submenu_hold
										.nav_s_h_item.mod_1
												h3.nav_s_title Пол
												ul.nav_submenu
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Мужской
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Женский
										.nav_s_h_item.mod_2
												h3.nav_s_title Бренд
												ul.nav_submenu.mod_3_col
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Atom
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") GNU
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Rome
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Backhill
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Lib Tech
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Rossignol
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Burton
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Never Summer
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Roxy
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") DC
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Niche
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") K2
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Ride
						li.nav_item
								a.nav_link(href="#" title="#"): span Одежда
								.nav_submenu_hold
										.nav_s_h_item.mod_1
												h3.nav_s_title Пол
												ul.nav_submenu
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Мужской
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Женский
										.nav_s_h_item.mod_2
												h3.nav_s_title Бренд
												ul.nav_submenu.mod_3_col
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Atom
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") GNU
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Rome
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Backhill
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Lib Tech
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Rossignol
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Burton
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Never Summer
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Roxy
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") DC
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Niche
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") K2
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Ride
						li.nav_item
								a.nav_link(href="#" title="#"): span Аксессуары
								.nav_submenu_hold
										.nav_s_h_item.mod_1
												h3.nav_s_title Пол
												ul.nav_submenu
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Мужской
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Женский
										.nav_s_h_item.mod_2
												h3.nav_s_title Бренд
												ul.nav_submenu.mod_3_col
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Atom
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") GNU
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Rome
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Backhill
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Lib Tech
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Rossignol
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Burton
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Never Summer
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Roxy
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") DC
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Niche
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") K2
														li.nav_s_item
																a.nav_s_i_link(href="#" title="#") Ride
