.sliderkit.newslider-vertical
		.sliderkit-nav
				.sliderkit-nav-clip
						ul.sliderkit-n-list
								li.sliderkit-n-item
										a(href='', title='[link title]')
												span.s_num 01
												span.s_text APXs
								li.sliderkit-n-item
										a(href='#', title='[link title]')
												span.s_num 02
												span.s_text Burton
								li.sliderkit-n-item
										a(href='#', title='[link title]')
												span.s_num 03
												span.s_text Lib Teach
								li.sliderkit-n-item
										a(href='', title='[link title]')
												span.s_num 04
												span.s_text APXs
								li.sliderkit-n-item
										a(href='#', title='[link title]')
												span.s_num 05
												span.s_text Burton
								li.sliderkit-n-item
										a(href='#', title='[link title]')
												span.s_num 06
												span.s_text Lib Teach
								li.sliderkit-n-item
										a(href='', title='[link title]')
												span.s_num 07
												span.s_text APXs
								li.sliderkit-n-item
										a(href='#', title='[link title]')
												span.s_num 08
												span.s_text Burton
		.sliderkit-panels
				.sliderkit-panel
						img(src='i/slide_1.jpg', alt='')
				.sliderkit-panel
						img(src='i/slide_2.jpg', alt='')
				.sliderkit-panel
						img(src='i/slide_3.jpg', alt='')
				.sliderkit-panel
						img(src='i/slide_1.jpg', alt='')
				.sliderkit-panel
						img(src='i/slide_2.jpg', alt='')
				.sliderkit-panel
						img(src='i/slide_3.jpg', alt='')
				.sliderkit-panel
						img(src='i/slide_1.jpg', alt='')
				.sliderkit-panel
						img(src='i/slide_2.jpg', alt='')
