.tabs_block
		ul.tabs_list
				li.tabs_item.selected(data-tab='1')
						span.tab_text_hold
								span.tab_num 01
								span.tab_text APXs
				li.tabs_item(data-tab='2')
						span.tab_text_hold
								span.tab_num 02
								span.tab_text  APXs
				li.tabs_item(data-tab='3')
						span.tab_text_hold
								span.tab_num 03
								span.tab_text  APXs
				li.tabs_item(data-tab='4')
						span.tab_text_hold
								span.tab_num 04
								span.tab_text  APXs
				li.tabs_item(data-tab='5')
						span.tab_text_hold
								span.tab_num 05
								span.tab_text  APXs
				li.tabs_item(data-tab='6')
						span.tab_text_hold
								span.tab_num 06
								span.tab_text  APXs
				li.tabs_item(data-tab='7')
						span.tab_text_hold
								span.tab_num 07
								span.tab_text  APXs
				li.tabs_item(data-tab='8')
						span.tab_text_hold
								span.tab_num 08
								span.tab_text  APXs
		ul.tabs_content_list
				li.tabs_c_item.selected(data-content='1')
						.tabs_c_hold
								img.tabs_img(src='i/slide_1.jpg', alt='')
				li.tabs_c_item.selected(data-content='2')
						.tabs_c_hold
								img.tabs_img(src='i/slide_2.jpg', alt='')
				li.tabs_c_item.selected(data-content='3')
						.tabs_c_hold
								img.tabs_img(src='i/slide_3.jpg', alt='')
				li.tabs_c_item.selected(data-content='4')
						.tabs_c_hold
								img.tabs_img(src='i/slide_4.jpg', alt='')
				li.tabs_c_item.selected(data-content='5')
						.tabs_c_hold
								img.tabs_img(src='i/slide_5.jpg', alt='')
				li.tabs_c_item.selected(data-content='6')
						.tabs_c_hold
								img.tabs_img(src='i/slide_6.jpg', alt='')
				li.tabs_c_item.selected(data-content='7')
						.tabs_c_hold
								img.tabs_img(src='i/slide_7.jpg', alt='')
				li.tabs_c_item.selected(data-content='8')
						.tabs_c_hold
								img.tabs_img(src='i/slide_8.jpg', alt='')
