.modal_wrap.item_1
		.modal_1.modal_box
				span.modal_close
				.form_box.mod_modal
						.form_row
								.form_item_v2
										label.hide(for='name_4') Имя:
										input#name_11.form_field_v2(type='text', placeholder='Введите имя')
								.form_item_v2
										label.hide(for='tel_4') Телефон:
										input#tel_12.form_field_v2(type='text', placeholder='И номер телефона')
						.form_row
								input.form_submit_v2(type='submit', value='Заказать звонок')
.modal_wrap
		.modal_2.modal_box
				span.modal_close
				.goods_modal_wrap
						.goods_b_view.mod_modal
								.goods_img_hold.mod_1
										img(src='i/goods_big_1.jpg', alt='')
								ul.goods_b_v_thumbs.mod_1
										li.goods_thumbs_item.active(data-source='i/goods_big_2.jpg')
												img(src='i/thumbs_1.jpg', alt='')
										li.goods_thumbs_item(data-source='i/goods_big_3.jpg')
												img(src='i/thumbs_1.jpg', alt='')
										li.goods_thumbs_item(data-source='i/goods_big_1.jpg')
												img(src='i/thumbs_1.jpg', alt='')
										li.goods_thumbs_item(data-source='i/goods_big_2.jpg')
												img(src='i/thumbs_1.jpg', alt='')
										li.goods_thumbs_item(data-source='i/goods_big_3.jpg')
												img(src='i/thumbs_1.jpg', alt='')
						.goods_data_v2.mod_modal
								.brand.mod_1 Бренд: Burton
								h3.goods_title
										a(href='#', title='') Сноуборд Burton Blunt (13-14)
								.goods_price_hold_v2.mod_1
										.goods_price_w
												span.goods_p_current.mod_1 13 388
												span.goods_p_old.mod_1 17 850
												.btn_w.mod_modal_1
														a.btn_v2.st_2(href='#') Купить
								.buy_details
										span.buy_d_item.mod_enable В наличие
										span.buy_d_item.mod_delivery Доставка бесплатно
										.btn_w.mod_modal_1
												a.link_control_v1.js_control_v4(href='#') Купить в 1 клик
								.size_block
										h3.title_v2 Выберите размер
										ul.size_list
												li.size_l_item
														input#size_1.inp_rad(type='radio', value='1', name='size', checked='checked')
														label.size_lbl.checked(for='size_1') 156 W
												li.size_l_item
														input#size_2.inp_rad(type='radio', value='1', name='size')
														label.size_lbl(for='size_2') 158 W
												li.size_l_item
														input#size_3.inp_rad(type='radio', value='1', name='size')
														label.size_lbl(for='size_3') 160 W
										h3.title_v2 Спецификация burton ripcord
										.table_w
												table.data_table
														tr
																td Пол
																td мужской
														tr
																td Сезон
																td 13-14
														tr
																td Стиль
																td Универсальный
														tr
																td Уровень
																td Новичок
														tr
																td Прогиб
																td Banana
														tr
																td Геометрия
																td Directional
														tr
																td Жесткость
																td 3
														tr
																td Сердечник
																td Fly
						a.control_v1.control_prev
						a.control_v1.control_next
.modal_wrap

		.modal_3.modal_box
				span.modal_close
				.goods_modal_wrap
						.goods_b_view.mod_modal
								.goods_img_hold.mod_1
										img(src='i/goods_big_1.jpg', alt='')
								ul.goods_b_v_thumbs.mod_1
										li.goods_thumbs_item.active(data-source='i/goods_big_2.jpg')
												img(src='i/thumbs_1.jpg', alt='')
										li.goods_thumbs_item(data-source='i/goods_big_3.jpg')
												img(src='i/thumbs_1.jpg', alt='')
										li.goods_thumbs_item(data-source='i/goods_big_1.jpg')
												img(src='i/thumbs_1.jpg', alt='')
										li.goods_thumbs_item(data-source='i/goods_big_2.jpg')
												img(src='i/thumbs_1.jpg', alt='')
										li.goods_thumbs_item(data-source='i/goods_big_3.jpg')
												img(src='i/thumbs_1.jpg', alt='')
						.goods_data_v2.mod_modal
								.brand.mod_1 Бренд: Burton
								h3.goods_title
										a(href='#', title='') Сноуборд Burton Blunt (13-14)
								.goods_price_hold_v2
										.goods_price_w
												span.goods_p_current.mod_1 13 388
												span.goods_p_old.mod_1 17 850
								.buy_details
										span.buy_d_item.mod_disable Нет в наличии
								.form_notice
										| Товара нет в наличии, но мы можем попробовать найти альтернативу. Для этого заполните поля из формы
										| ниже:
								.form_box.mod_modal
										.form_row
												label.hide(for='name_4') Имя:
												input#name_4.form_field_v2(type='text', placeholder='Введите имя')
										.form_row
												label.hide(for='tel_4') Телефон:
												input#tel_4.form_field_v2(type='text', placeholder='Введите номер телефона')
										.form_row
												input.form_submit_v2(type='submit', value='Подобрать альтернативу')
						a.control_v1.control_prev
						a.control_v1.control_next
.modal_wrap

		.modal_4.modal_box
				span.modal_close
				.goods_modal_wrap
						.goods_b_view.mod_modal.mod_1
								.goods_img_hold.mod_1.size_1
										img(src='i/goods_click.jpg', alt='')
						.goods_data_v2.mod_modal
								h3.goods_title
										a(href='#', title='') Сноуборд Burton Blunt (13-14)
								.form_box.mod_modal
										.form_row
												label.hide(for='name_4') Имя:
												input#name_13.form_field_v2(type='text', placeholder='Введите имя')
										.form_row
												label.hide(for='tel_4') Телефон:
												input#tel_13.form_field_v2(type='text', placeholder='Введите номер телефона')
										.form_row
												input.form_submit_v2(type='submit', value='Купить сейчас')

.side_panel
		.goods_side
				ul.goods_list
						+goods('Сноуборд Burton Clash (13 - 14) ','i/content/goods_1.jpg','4 690','6 255')
						+goods('Ботинки Forum Fastplant (12-13)','i/content/goods_1.jpg','4 690','6 255')
						+goods('Ботинки Forum Fastplant (12-13)','i/content/goods_1.jpg','4 690','6 255')
						+goods('Ботинки Forum Fastplant (12-13)','i/content/goods_1.jpg','4 690','6 255')
		h3.btn_side Недавно смотрели:
.side_panel_background
