.nav_link {
  background: #00a800;
}
.nav_link:hover {
  background: #090;
}

.prev_btn_m a, .next_btn_m a {
  background-color: #666;
}

.pages__link {
  background: #f5f5f5;
}
.pages__link:hover {
  background: #ccc;
}
.pages__link.active {
  background: #04a548;
}

.btn_v1 {
  background: #ff9a00;
}
.btn_v1:hover {
  background: #e17a00;
}
.btn_v1:active {
  background: #d07000;
}

.btn_v2 {
  background: #0b0;
}
.btn_v2:hover {
  background: #009500;
}
.btn_v2:active {
  background: #00ac00;
}

.footer:after {
  background: #42474c;
}

.gallery_title {
  background: #444;
}

.gallery_link.mod_photo:after,
.news_img:after {
  background: #009500 url(../img/ico_christ.png) 50% no-repeat;
  display: none;
}

.gallery_link.mod_photo:hover:after,
.news_img:hover:after {
  display: block;
}
