.circle_a.mod_1
	span.circle_a_wrap.mod_1
		span.circle_a_sub_wrap
			svg.circle_img.mod_1(version='1.1', baseprofile='full', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:ev='http://www.w3.org/2001/xml-events', height='95px', width='131px')
				defs
					filter#Filter_0(filterunits='userSpaceOnUse', x='1059px', y='359px', width='136px', height='100px')
						feoffset(in='SourceAlpha', dx='0', dy='0')
						fegaussianblur(result='blurOut', stddeviation='1.732')
						feflood(flood-color='rgb( 0, 0, 0 )', result='floodOut')
						fecomposite(operator='atop', in='floodOut', in2='blurOut')
						fecomponenttransfer
							fefunca(type='linear', slope='0.2')
						femerge
							femergenode
							femergenode(in='SourceGraphic')
					lineargradient#PSgrad_0(x1='0%', x2='0%', y1='100%', y2='0%')
						stop(offset='0%', stop-color='rgb(0,0,0)', stop-opacity='0.06')
						stop(offset='100%', stop-color='rgb(255,255,255)', stop-opacity='0.06')
				a(xlink:href='/svg/index.html', target='_top')
					path(fill='rgb( 255, 255, 255 )', d='M1.70499999999993,53.845 C37.963,53.845 70.654,69.388 93.481,94.155 C93.481,94.155 130.962,56.674 130.962,56.674 C98.518,22.32 52.5740000000001,0.84500000000003 1.70499999999993,0.84500000000003 C1.14799999999991,0.84500000000003 0.59400000000005,0.86200000000002 0.03800000000001,0.86599999999999 C0.03800000000001,0.86599999999999 0.03800000000001,53.866 0.03800000000001,53.866 C0.59400000000005,53.859 1.14799999999991,53.845 1.70499999999993,53.845 Z ')
					path(fill='url(#PSgrad_0)', d='M1.70499999999993,53.845 C37.963,53.845 70.654,69.388 93.481,94.155 C93.481,94.155 130.962,56.674 130.962,56.674 C98.518,22.32 52.5740000000001,0.84500000000003 1.70499999999993,0.84500000000003 C1.14799999999991,0.84500000000003 0.59400000000005,0.86200000000002 0.03800000000001,0.86599999999999 C0.03800000000001,0.86599999999999 0.03800000000001,53.866 0.03800000000001,53.866 C0.59400000000005,53.859 1.14799999999991,53.845 1.70499999999993,53.845 Z ')
			span.circle_text_block.mod_1
				a.circle_text.mod_1(href="#") Оформление личных мед. справок