footer.footer
	.footer_hold
		nav.nav_hold.mod_footer(role="navigation")
			include navigation
		.contacts_bar.mod_footer
			.copyrights
				span ©2014 ООО «Голденмед».
				span Сеть профессиональных медицинских клиник
			ul.contacts_box_v2
				li.contacts_item_v2.mod_email
					span.dt e-mail: &nbsp;
					a.dd(href="mailto:info@mail.com" title="#") info@mail.com
				li.contacts_item_v2.mod_tel
					| +7 495
					span.num_v1 &nbsp;125 34 33
			dl.developers
				dt Сайт разработан в студии дизайна:
				dd
					a.developer_link(href="#" title="") OpenColour