title GOLDEN MED
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width")
| <!--[if gt IE 9]><!--><link rel="stylesheet" media="all" href="styles/main_global.css"><!--<![endif]--><!--[if IE 9]><link rel="stylesheet" media="all" href="styles/ie_9_global.css"><![endif]-->
script(src="js/frontend.min.js")
