.map_block.mod_sidebar
	.map_head.mod_sidebar
		h2.title_v3 Наши Клиники
		.notice_v3 Кликните на значок, чтобы узнать точный адрес и телефон клиники*
	.map_wrap.mod_sidebar
		#map_hold.map_hold.mod_2
		.map_sidebar_hold
			#sidebar.map_sidebar
				h2.menu_title.mod_1 Выберите клинику
			script(src="http://maps.google.com/maps/api/js?sensor=false")
			script(src="js/mapInitSidebar.js")
			include note_block_dark


