.pagin {
  display: flex;
  justify-content: center;
}

.pagin__List {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}


.pagin__item {
  margin-right: 20px;
  margin-bottom: 15px;
  &:last-child {
    margin-right: 0;
  }
}
.pagin__link {
  display: block;
  padding: 10px 15px;
  color: #fff;
  background-color: #00b3ee;
  border: 1px solid #00b3ee;
  transition: all 0.2s;
  box-sizing: border-box;
  &:hover {
    background-color: transparent;
  }
  &:active {
    box-shadow: 0 0 2px 1px  #00b3ee;
  }
}
.pagin__item--active .pagin__link {
  color: #fff;
  background-color: transparent;
}
