/*------------------------------------------------------fonts*/
@font-face {
	font-family: 'rotondacregular';
	src: url('fonts/rtn55__c.pfb-webfont.eot');
	src: url('fonts/rtn55__c.pfb-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/rtn55__c.pfb-webfont.woff') format('woff'),
	url('fonts/rtn55__c.pfb-webfont.ttf') format('truetype'),
	url('fonts/rtn55__c.pfb-webfont.svg#rotondacregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'rotondacbold';
	src: url('fonts/rtn65__c.pfb-webfont.eot');
	src: url('fonts/rtn65__c.pfb-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/rtn65__c.pfb-webfont.woff') format('woff'),
	url('fonts/rtn65__c.pfb-webfont.ttf') format('truetype'),
	url('fonts/rtn65__c.pfb-webfont.svg#rotondacbold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'bliss_pro_reg';
	src: url('fonts/BlissPro-Regular.eot');
	src: local('☺'), url('fonts/BlissPro-Regular.woff') format('woff'), url('fonts/BlissPro-Regular.ttf') format('truetype'), url('fonts/BlissPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'bliss_pro_bold';
	src: url('fonts/BlissPro-Bold.eot');
	src: local('☺'), url('fonts/BlissPro-Bold.woff') format('woff'), url('fonts/BlissPro-Bold.ttf') format('truetype'), url('fonts/BlissPro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*------------------------------------------------------fonts###*/