$develop: false;
$production: true;
$all: false;
$ie9: false;
$ie8: true;
$ie7: false;
$doc: false;
$local_var: global;

@import "includes_ie_8";


.inp_rad,
.inp_check{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.lbl_rad,
.lbl_check{
	&.checked:after{
		display: block;
	}
}

.bx-pager-link{
	background: #000;
}

