footer.footer
	.footer_hold
		a.f_logo(href="#" title="#") Alt Tools
		.footer_text
			| Disclaimer - AmoralVideos.Com has a zero tolerance policy against any illegal pornography. All links, videos and images are provided by 3rd parties.
		ul.footer_menu
			li.footer_m_item
				a.footer_m_link(href="#" title="#") Report  Bad Content
			li.footer_m_item
				a.footer_m_link(href="#" title="#") TH
			li.footer_m_item
				a.footer_m_link(href="#" title="#") TS