title Alt Tools
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width")
script(src="js/jquery-1.11.1.min.js")
script(src="js/modernizr.2.js")
script(src="js/selectordie.min.js")
script(src="js/jquery.multiple.select.js")
script(src="js/lazyload.js")
| <!--[if gt IE 9]><!--><link rel="stylesheet" media="all" href="styles/main_global.css"><!--<![endif]-->
| <!--[if IE 9]><link rel="stylesheet" media="all" href="styles/ie_9_global.css"><![endif]-->

script(src="js/frontend.js")

