ul.nav
	li.nav_item
		a.nav_link(href="#" title="#") Продукция
		.nav_submenu_wrap
			ul.nav_submenu_v1
				li.nav_s_item
					a.nav_s_link(href="#" title="#") Крем
					+nav_submenu
				li.nav_s_item
					a.nav_s_link(href="#" title="#") Масло
					+nav_submenu
				li.nav_s_item
					a.nav_s_link(href="#" title="#") Мыло
					+nav_submenu
				li.nav_s_item
					a.nav_s_link(href="#" title="#") Краска для волос
					+nav_submenu
				li.nav_s_item
					a.nav_s_link(href="#" title="#") Маска для лица
					+nav_submenu
				li.nav_s_item
					a.nav_s_link(href="#" title="#") Молочко для тела
					+nav_submenu
				li.nav_s_item
					a.nav_s_link(href="#" title="#") Скраб
					+nav_submenu
				li.nav_s_item
					a.nav_s_link(href="#" title="#") Комплексы
					+nav_submenu
	+nav_item('Это интересно')
	+nav_item('Справочник трав')
	+nav_item('О компании')
	+nav_item('Сотрудничество')
	+nav_item('Сертификаты')
	+nav_item('Контакты')
