ul.socials
	li.socials_item
		a.socials_link.st_1(href="#" title="#") Facebook
	li.socials_item
		a.socials_link.st_2(href="#" title="#") Twitter
	li.socials_item
		a.socials_link.st_3(href="#" title="#") Google