
.sod_select,
.sod_select *{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

/* The SoD - Please keep this first three lines intact, otherwise all hell will break looooooose */
.sod_select{
	position: relative;
	display: block;
	width: 100%;
	background: #fff;
	border: none;
	box-sizing: border-box;
	outline: 0;
	cursor: default;
	border: 1px solid #ccc;
	/* When the entire SoD is disabled, go crazy! */
	/* The "label", or whatever we should call it. Keep the first three lines for truncating. */
	/* Options list wrapper */
	/* Shows the option list (don't edit) */
	/* Don't display the options when  */
	/* When the option list is displayed above the SoD */
	/* Options list container */
	/* All the options. Keep the first three lines for truncating... */
	/* Optgroups */
	/* Children of an optgroup */
	/* Disabled option */
	/* Hover state for options, also used when a user uses his/hers up/down keys */
	/*Make room for the check mark */
	/* Displays a check mark for the selected option */
	/* Add a .no_highlight class to you SoD to hide the check mark and don't bold the option */
	/* Hide native select */
	/* The native select in touch mode. Keep this first line. Sorry, keep everything. */
}

.sod_select.mes_select{
	height: 34px;
	width: 100%;
	padding: 8px 12px 8px 12px;
	line-height: 18px;
	border-radius: 4px;
	border: 1px solid #e4e4e4;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDExMyAzOCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZjhmOGY4IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMTMiIGhlaWdodD0iMzgiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(bottom, #f8f8f8 0%, #fff 100%);
	background-image: -o-linear-gradient(bottom, #f8f8f8 0%, #fff 100%);
	background-image: -webkit-linear-gradient(bottom, #f8f8f8 0%, #fff 100%);
	background-image: linear-gradient(bottom, #f8f8f8 0%, #fff 100%);
	color: #848484;
	font-size: 14px;
	cursor: pointer;
	&:focus{
		outline: none;
	}
	&:before{
		z-index: 1;
		position: absolute;
		top: 50%;
		right: 11px;
		content: "";
		width: 0;
		height: 0;
		margin: -2px 0 0;
		border-style: solid;
		border-width: 4px 4px 0 4px;
		border-color: #7e7e7e transparent transparent transparent;

	}
	&.open{
		border-radius: 4px 4px 0 0;
	}
}

.sod_select.disabled{
	cursor: not-allowed;
}

.sod_select .sod_label{
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #404141;
	line-height: 1.33;
	padding-right: 15px;
}

.sod_select .sod_prefix{
	/* Use this if you're using a prefix and want to style it */
}

.sod_select .sod_placeholder{
	/* Use this if you're using a placeholder and want to style it */
}

.sod_select .sod_list_wrapper{
	z-index: 100;
	position: absolute;
	display: none;
	width: auto;
	min-width: 100%;
	height: auto;
	top: 100%;
	left: -1px;
	right: -1px;
	border:1px solid #e4e4e4;
	border-top: none;
	border-radius: 0 0 4px 4px;
	background: #f8f8f8;
}

.sod_select.open .sod_list_wrapper{
	display: block;
}

.sod_select.disabled.open .sod_list_wrapper{
	display: none;
}

.sod_select.above .sod_list_wrapper{
	top: auto;
	bottom: 100%;
}

.sod_select .sod_list{
	display: block;
	overflow-y: auto;
	padding: 0;
	margin: 0;
}

.sod_select .sod_option{
	display: block;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	padding: 8px 10px;
	list-style-type: none;
}

.sod_select .sod_option:last-of-type{
	border-radius: 0 0 4px 4px;
}

.sod_select .sod_option:first-of-type{
}

.sod_select .sod_option.optgroup,
.sod_select .sod_option.optgroup.disabled{
	background: inherit;
	color: #939393;
	font-size: 10px;
	font-style: italic;
}

.sod_select .sod_option.groupchild{
	padding-left: 20px;
}

.sod_select .sod_option.disabled{
	background: inherit;
	color: #ccc;
}

.sod_select .sod_option.active{
	background: #58a9ef;
	color: #fff;
}

.sod_select .sod_option.selected{
//	font-weight: 400;
//	background: #58a9ef;
//	color: #fff;
}



.sod_select.no_highlight .sod_option.selected{
}

.sod_select.no_highlight .sod_option.selected:before{
	display: none;
}

.sod_select .sod_option.link{
	/* If data-link is set on a specific option */
}

.sod_select .sod_option.linkexternal{
	/* If data-link-external is set on a specific option */
}

.sod_select select{
	display: none !important;
}

.sod_select.touch select{
	-webkit-appearance: menulist-button;
	position: absolute;
	top: 0;
	left: 0;
	display: block !important;
	height: 100%;
	width: 100%;
	opacity: 0;
	z-index: 1;
}







