ul.app_b_tags_list
	li.tags_l_item
		a.tags_l_i_link(href="#" title="#") photo-sharing
	li.tags_l_item
		a.tags_l_i_link(href="#" title="#") photo-sharing
	li.tags_l_item
		a.tags_l_i_link(href="#" title="#") photo-sharing
	li.tags_l_item
		a.tags_l_i_link(href="#" title="#") photo-sharing
	li.tags_l_item
		a.tags_l_i_link(href="#" title="#") photo-sharing
	li.tags_l_item
		a.tags_l_i_link(href="#" title="#") photo-sharing
	li.tags_l_item
		a.tags_l_i_link(href="#" title="#") photo-sharing
	li.tags_l_item
		a.tags_l_i_link(href="#" title="#") photo-sharing