@font-face {
    font-family: 'pf_din_text_cond_pro_medium';
    src: url('pfdintextcondpro-medium_0-webfont.eot');
    src: url('pfdintextcondpro-medium_0-webfont.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pf_din_text_cond_pro_light';
    src: url('pfdintextcondpro-light_0-webfont.eot');
    src: url('pfdintextcondpro-light_0-webfont.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pf_din_text_cond_pro_thin';
    src: url('pfdintextcondpro-thin_0-webfont.eot');
    src: url('pfdintextcondpro-thin_0-webfont.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_dintext_pro_xthin';
    src: url('pfdintextpro-xthin_0-webfont.eot');
    src: url('pfdintextpro-xthin_0-webfont.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'VantaThinRegular';
    src: url('vantathin.eot');
    src: url('vantathin.eot') format('embedded-opentype');
}