%icon_nav_4,
%icon_nav_4_h,
%icon_nav_3_h,
%icon_nav_3,
%icon_nav_2,
%icon_nav_2_h,
%icon_nav_5_h,
%icon_nav_5,
%icon_benefits_4,
%icon_nav_1_h,
%icon_nav_1,
%icon_benefits_3,
%icon_benefits_2,
%icon_benefits_1,
%icon_benefits_6,
%icon_benefits_5 {
	background: url(../i/sprite.png) no-repeat;
}
%icon_nav_4 {
	background-position: 0 0;
}
%icon_nav_4_h {
	background-position: -74px 0;
}
%icon_nav_3_h {
	background-position: 0 -74px;
}
%icon_nav_3 {
	background-position: -74px -74px;
}
%icon_nav_2 {
	background-position: -148px 0;
}
%icon_nav_2_h {
	background-position: 0 -143px;
}
%icon_nav_5_h {
	background-position: -68px -143px;
}
%icon_nav_5 {
	background-position: -124px -143px;
}
%icon_benefits_4 {
	background-position: -216px 0;
}
%icon_nav_1_h {
	background-position: -216px -54px;
}
%icon_nav_1 {
	background-position: -216px -123px;
}
%icon_benefits_3 {
	background-position: -148px -73px;
}
%icon_benefits_2 {
	background-position: 0 -216px;
}
%icon_benefits_1 {
	background-position: -47px -216px;
}
%icon_benefits_6 {
	background-position: -100px -216px;
}
%icon_benefits_5 {
	background-position: -287px 0;
}

