.app_block
	.app_b_head
		h1.app_b_title.mod_main Freshdesk
		.app_b_like_value 1051 likes
	.app_b_main
		.app_b_view.mod_main
			img.app_b_img(src="i/content/firefox.png")
		.app_b_m_info
			ul.app_b_types
				li.app_b_t_item
					a.app_dev_link(href="#" title="#") Google inc.
				li.app_b_t_item.mod_1.st_price Free
			.app_b_desc.mod_main
				p Picasa can transfer, find, organize, edit, print, and share images, all with this easy-to-use product. Watch
		a.show_more_btn.st_1(href="#" title="#") SHOW MORE
		ul.app_b_details
			li.app_b_d_item.st_device Windows, Mac OS, iPhone
			li.app_b_d_item.st_ctg Photos & Graphics, Travel & Location, Social
		ul.socials_v2
			li.socials_item_v2
				a.socials_link_v2.st_tw(href="#" title="#") Twitter
			li.socials_item_v2
				a.socials_link_v2.st_fb(href="#" title="#") Facebook
			li.socials_item_v2
				a.socials_link_v2.st_gl(href="#" title="#") Google +
		a.download_btn(href="#" title="#") DOWNLOAD
.search_results.mod_1
	.search_res_main.block_st_1
		h2.title_v1 Best alternatives for Freshdesk
		.section.section_filter_v2
			ul.select_list
				li.select_hold
					select.form_sel_v1
						option(value="1") All Platforms
						option(value="2") Windows
						option(value="3") Mac
						option(value="3") Linux
				li.select_hold
					select.form_sel_v1
						option(value="1") All Licenses
						option(value="2") License-1
						option(value="3") License-2
		ul.app_list
			- var j = 0
			while j < 4
				-j++
				+app_l_item_v2('i/content/vlc.png')
		a.show_more_btn(href="#" title="#") SHOW MORE
