*{
	font-family: Arial, sans-serif;
	box-sizing: border-box;
}
#taPaste, button{
	font-size: 16px;
}
.blockForEdit{
	margin:20px 0 0 -8px;
}
.word {
	display: inline-block;
	height: 35px;
	border: 1px solid #444;
	padding: 8px 0 8px 8px;
	margin: 10px;

}
.inpWord{
	display: inline-block;
}
.inpCopy{
	font-size: 16px;
}
.del {
	padding:8px;
	margin: 0 0 0 4px;
	border-left: 1px solid red;
cursor: pointer;
	background: red;
}