*{
	font-family: Arial, sans-serif;
}
#taPaste, button{
	font-size: 16px;
}
.word {
	display: inline-block;
	border: 1px solid #444;
	padding: 10px;
	margin: 10px;

}
.inpWord{
	display: inline-block;
}
.inpCopy{
	font-size: 16px;
}
.del {
	border: 1px solid red;
cursor: pointer;
}