doctype html
html(lang="ru")
	head
		include templates/head

	body
		.wrapper
			.base
				include templates/header
				.main_row
					include templates/bread_crumbs
					.section
						include templates/map_block_2
				include templates/footer
		include templates/modal_block

