doctype html
html(lang="ru")
	head
		include templates/head
	body.mod_goods
		.wrapper
			.base
				include templates/header
				include pages/catalog_item_tpl
				include templates/footer
		span.global_to_top
				span.global_t_text Наверх
		include templates/modal_boxes