doctype html
html(lang="ru")
	head
		include templates/head
	body
		.wrapper
			.base
				include templates/header_2
				include pages/catalog_view_list_tpl
				include templates/footer
		span.global_to_top
				span.global_t_text Наверх
		include templates/modal_boxes