.circle_a.mod_6
	span.circle_a_wrap.mod_6
		span.circle_a_sub_wrap

			svg.circle_img.mod_6(version='1.1', baseprofile='full', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:ev='http://www.w3.org/2001/xml-events', height='117px', width='93px')
				defs
					filter#Filter_0(filterunits='userSpaceOnUse', x='883px', y='550px', width='98px', height='122px')
						feoffset(in='SourceAlpha', dx='0', dy='0')
						fegaussianblur(result='blurOut', stddeviation='1.732')
						feflood(flood-color='rgb( 0, 0, 0 )', result='floodOut')
						fecomposite(operator='atop', in='floodOut', in2='blurOut')
						fecomponenttransfer
							fefunca(type='linear', slope='0.2')
						femerge
							femergenode
							femergenode(in='SourceGraphic')
					lineargradient#PSgrad_0(x1='0%', x2='0%', y1='100%', y2='0%')
						stop(offset='0%', stop-color='rgb(0,0,0)', stop-opacity='0.06')
						stop(offset='100%', stop-color='rgb(255,255,255)', stop-opacity='0.06')
				a(xlink:href='/svg/index.html', target='_top')

					path(fill='rgb( 255, 255, 255 )', d='M53.237,0.03800000000001 C53.237,0.03800000000001 0.06299999999999,0.03800000000001 0.06299999999999,0.03800000000001 C3.22500000000002,45.972 23.903,87.162 55.456,116.962 C55.456,116.962 92.937,79.48 92.937,79.48 C71.013,59.273 56.321,31.337 53.237,0.03800000000001 Z ')
					path(fill='url(#PSgrad_0)', d='M53.237,0.03800000000001 C53.237,0.03800000000001 0.06299999999999,0.03800000000001 0.06299999999999,0.03800000000001 C3.22500000000002,45.972 23.903,87.162 55.456,116.962 C55.456,116.962 92.937,79.48 92.937,79.48 C71.013,59.273 56.321,31.337 53.237,0.03800000000001 Z ')

			span.circle_text_block.mod_6
				a.circle_text.mod_6(href='#') Амбулаторный прием