.circle_a.mod_3
	span.circle_a_wrap.mod_3
		span.circle_a_sub_wrap
			svg.circle_img.mod_3(version='1.1', baseprofile='full', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:ev='http://www.w3.org/2001/xml-events', height='119px', width='94px')
				defs
					filter#Filter_0(filterunits='userSpaceOnUse', x='1145px', y='549px', width='99px', height='124px')
						feoffset(in='SourceAlpha', dx='0', dy='0')
						fegaussianblur(result='blurOut', stddeviation='1.732')
						feflood(flood-color='rgb( 0, 0, 0 )', result='floodOut')
						fecomposite(operator='atop', in='floodOut', in2='blurOut')
						fecomponenttransfer
							fefunca(type='linear', slope='0.2')
						femerge
							femergenode
							femergenode(in='SourceGraphic')
					lineargradient#PSgrad_0(x1='0%', x2='0%', y1='100%', y2='0%')
						stop(offset='0%', stop-color='rgb(0,0,0)', stop-opacity='0.06')
						stop(offset='100%', stop-color='rgb(255,255,255)', stop-opacity='0.06')
				a(xlink:href='/svg/index.html', target='_top')
					path(fill='rgb( 255, 255, 255 )', d='M93.5229999999999,0.95699999999999 C93.5229999999999,0.95699999999999 40.3499999999999,0.95699999999999 40.3499999999999,0.95699999999999 C37.258,32.338 22.4970000000001,60.342 0.47700000000009,80.561 C0.47700000000009,80.561 37.9570000000001,118.042 37.9570000000001,118.042 C69.607,88.23 90.355,46.975 93.5229999999999,0.95699999999999 Z ')
					path(fill='url(#PSgrad_0)', d='M93.5229999999999,0.95699999999999 C93.5229999999999,0.95699999999999 40.3499999999999,0.95699999999999 40.3499999999999,0.95699999999999 C37.258,32.338 22.4970000000001,60.342 0.47700000000009,80.561 C0.47700000000009,80.561 37.9570000000001,118.042 37.9570000000001,118.042 C69.607,88.23 90.355,46.975 93.5229999999999,0.95699999999999 Z ')

			span.circle_text_block.mod_3
				a.circle_text.mod_3(href='#') Анализы