.circle_a.mod_7
	span.circle_a_wrap.mod_7
		svg.circle_img.mod_7(version='1.1', baseprofile='full', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:ev='http://www.w3.org/2001/xml-events', height='131px', width='85px')
				defs
						filter#Filter_0(filterunits='userSpaceOnUse', x='882px', y='417px', width='90px', height='136px')
							feoffset(in='SourceAlpha', dx='0', dy='0')
							fegaussianblur(result='blurOut', stddeviation='1.732')
							feflood(flood-color='rgb( 0, 0, 0 )', result='floodOut')
							fecomposite(operator='atop', in='floodOut', in2='blurOut')
							fecomponenttransfer
								fefunca(type='linear', slope='0.2')
							femerge
								femergenode
								femergenode(in='SourceGraphic')
						lineargradient#PSgrad_0(x1='0%', x2='0%', y1='100%', y2='0%')
							stop(offset='0%', stop-color='rgb(0,0,0)', stop-opacity='0.06')
							stop(offset='100%', stop-color='rgb(255,255,255)', stop-opacity='0.06')
				a(xlink:href='/svg/index.html', target='_top')
						path(fill='rgb( 255, 255, 255 )', d='M53.222,120.517 C53.222,88.745 65.16,59.712 84.778,37.654 C84.778,37.654 47.274,0.14999999999998 47.274,0.14999999999998 C18.081,31.844 0.22199999999998,74.131 0.22199999999998,120.517 C0.22199999999998,123.986 0.33299999999997,127.429 0.52999999999997,130.85 C0.52999999999997,130.85 53.653,130.85 53.653,130.85 C53.373,127.442 53.222,123.997 53.222,120.517 Z ')
						path(fill='url(#PSgrad_0)', d='M53.222,120.517 C53.222,88.745 65.16,59.712 84.778,37.654 C84.778,37.654 47.274,0.14999999999998 47.274,0.14999999999998 C18.081,31.844 0.22199999999998,74.131 0.22199999999998,120.517 C0.22199999999998,123.986 0.33299999999997,127.429 0.52999999999997,130.85 C0.52999999999997,130.85 53.653,130.85 53.653,130.85 C53.373,127.442 53.222,123.997 53.222,120.517 Z ')
		span.circle_text_block.mod_7
			a.circle_text.mod_7(href='#') Оформление мед. справок