.note_block.mod_dark
	h2.note_title.st_1 Запишитесь на прием онлайн
	.note_text.mod_1 Вы можете записаться на прием через сайт, указав клинику, врача, дату и время приема
	a.note_btn.btn_v1.st_2.mod_2.js_order(href="#" title="#") Записаться на прием