.note_block
	h2.note_title Запишитесь на прием онлайн
	.note_text Вы можете записаться на прием через сайт, указав клинику, врача, дату и время приема
	.btn_hold.mod_tac
		a.note_btn.btn_v1.st_2.js_order(href="#" title="#") Записаться на прием