ul.services_block
	li.services_item
		a.serv_img(href="#" title="#")
			img(src="i/content/serv_1.jpg", alt="")
		.serv_desc
			h2.serv_name
				a(href="#" title="#") Наши акции
			.serv_d_item.mod_info Будьте в курсе наших акций
			.serv_d_item.mod_btn_hold
				a.serv_btn.btn_v2(href="#" title="#") Подробнее
	li.services_item
		a.serv_img(href="#" title="#")
			img(src="i/content/serv_2.jpg", alt="")
		.serv_desc
			h2.serv_name
				a(href="#" title="#") Услуги и цены
			.serv_d_item.mod_info
				| Полный список услуг с указанием
				br
				| &nbsp; цен для каждой клиники
			.serv_d_item.mod_btn_hold
				a.serv_btn.btn_v2(href="#" title="#") Подробнее
	li.services_item
		a.serv_img(href="#" title="#")
			img(src="i/content/serv_3.jpg", alt="")
		.serv_desc
			h2.serv_name
				a(href="#" title="#") Расписание врачей
			.serv_d_item.mod_info
				| Узнайте в какое время и в какой
				br
				| &nbsp; день принимает вас врач
			.serv_d_item.mod_btn_hold
				a.serv_btn.btn_v2(href="#" title="#") Подробнее
