*{
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.title{
  position: relative;
  margin: 0 auto 30px;
  width: 300px;
  min-height:38px;
  padding: 10px;
  color: #fff;
}
.good{
  background: green;
}
.bad{
  background: red;
}
.list{
  position: relative;
  width: 470px;
  margin: 0 auto;
  list-style: none;
}
.item{
  margin:0 0 20px;
}
.item label{
  display: block;
  margin: 0 0 6px;
  text-align: left;
}
.itemWrap{
  position: relative;
  overflow: hidden;
  margin:0 0 0 -20px;
}
.itemWrap .item{
  width: 50%;
  float: left;
  padding: 0 0 0 20px;
}
.item input{
  height: 40px;
  font-size: 16px;
  padding:5px 20px;
  width: 100%;
  display: block;
}
.btn{
  position: relative;
  width: 200px;
  height: 40px;
  font-size: 14px;
  background: blue;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
}
.btn:hover{
  opacity: .8;
}
.btn:active{
  top:2px;
}
