@import url(main.css);
/*----------------------------for ie8*/
.tabs_list {
  background: #000;
}

.btn_v1,
.form_submit {
  background: #f1f1f1;
}
.btn_v1:hover,
.form_submit:hover {
  background: #009ad5;
}

/*----------------------------for ie8###*/
