include ../templates/mixins
.main_row
		.section
				.content_row.mod_full
						ul.bread_crumbs
								li.bread_c__item
										a.bread_c_i__link(href='#', title='Главная')
												span.bread_c_i__title Главная
								li.bread_c__item
										span.bread_c_i__title О корзина
						.content
								h1 Заказ сформирован
								.basket_final_block
										.basket_f_text
												| Ваш заказ &nbsp;
												b №137
												| &nbsp; успешно сформирован, спасибо за покупку!
												br
												| Сумма Вашего заказа &nbsp;
												b 11 478 руб.,
												| &nbsp; в ближайшее время наши операторы свяжуться с Вами.

