include ../templates/mixins
.main_row
		.section
				include ../templates/primary_row_home
				include ../templates/main_slider_2
				.content_row
						.goods_wrapper.mod_1
								h2.title_row
										span Спецпредложения
								ul.goods_list.slider_1
										+goods('Сноуборд Burton Clash (13 - 14) ','i/content/goods_1.jpg','4 690','6 255')
										+goods_one_price('Ботинки Forum Fastplant (12-13)','i/content/goods_1.jpg','4 690','6 255')
										+goods('Ботинки Forum Fastplant (12-13)','i/content/goods_1.jpg','4 690','6 255')
										+goods('Ботинки Forum Fastplant (12-13)','i/content/goods_1.jpg','4 690','6 255')
										+goods('Ботинки Forum Fastplant (12-13)','i/content/goods_1.jpg','4 690','6 255')
										+goods('Ботинки Forum Fastplant (12-13)','i/content/goods_1.jpg','4 690','6 255')
										+goods('Ботинки Forum Fastplant (12-13)','i/content/goods_1.jpg','4 690','6 255')
										+goods('Ботинки Forum Fastplant (12-13)','i/content/goods_1.jpg','4 690','6 255')
						.goods_wrapper.mod_2
								h2.title_row
										span Распродажа
								ul.goods_list.slider_2
										+goods('Ботинки Forum Fastplant (12-13)','i/content/goods_1.jpg','4 690','6 255')
										+goods('Ботинки Forum Fastplant (12-13)','i/content/goods_1.jpg','4 690','6 255')
										+goods('Ботинки Forum Fastplant (12-13)','i/content/goods_1.jpg','4 690','6 255')
										+goods('Ботинки Forum Fastplant (12-13)','i/content/goods_1.jpg','4 690','6 255')
										+goods('Ботинки Forum Fastplant (12-13)','i/content/goods_1.jpg','4 690','6 255')
										+goods('Ботинки Forum Fastplant (12-13)','i/content/goods_1.jpg','4 690','6 255')
										+goods('Ботинки Forum Fastplant (12-13)','i/content/goods_1.jpg','4 690','6 255')
										+goods('Ботинки Forum Fastplant (12-13)','i/content/goods_1.jpg','4 690','6 255')
						.goods_wrapper.mod_3
								h2.title_row
										span Супер сток
								ul.goods_list.slider_3
										+goods('Ботинки Forum Fastplant (12-13)','i/content/goods_1.jpg','4 690','6 255')
										+goods('Ботинки Forum Fastplant (12-13)','i/content/goods_1.jpg','4 690','6 255')
										+goods('Ботинки Forum Fastplant (12-13)','i/content/goods_1.jpg','4 690','6 255')
										+goods('Ботинки Forum Fastplant (12-13)','i/content/goods_1.jpg','4 690','6 255')
		.section
				.about_block
						h2.title_v1 Магазин сноубордов и экипировки BoardShop
						.text_v1.static_v2
								p Интернет магазин BoardShop — это именно то место, где Вы сможете купить сноуборд, крепления, ботинки и, конечно же, сноубордическую одежду. Наши магазины представляют продукцию ведущих сноубордических производителей со всего мира. Ассортимент подобран таким образом, чтобы удовлетворить потребности большинства покупателей. У нас Вы никогда не найдете низкокачественную продукцию сомнительных брендов. Но при этом покупки в наших магазинах смогут совершить как профессионалы, выбирающие сноуборд высшего класса, так и начинающие сноубордисты, которые ищут недорогие доски высокого качества.
								p Также предлагаем Вашему вниманию сноубордическую одежду: куртки, штаны, термобелье и аксессуары: чехлы, шлемы, рюкзаки.  Широчайший ассортимент всего самого необходимого для катания на сноуборде в продаже. Наш магазин поможет Вам и Вашим друзьям еще больше погрузиться в соответствующую атмосферу, даже когда Вы не на склоне.  Для тех, кто не гонится за новыми коллекциями, мы стараемся собирать максимальное количество стоков, которые продаем по очень привлекательным ценам. Помимо этого постоянные акции, скидки, распродажи и дисконтная система помогут Вам совершить максимально выгодную покупку.
								p Мы не сомневаемся, что наши цены на сноуборды лучшие. Поэтому если вы найдете аналогичный товар дешевле, чем предлагает наш интернет-магазин, то мы готовы сделать вам еще более выгодное предложение.
								p Продажа сноубордов в Москве осуществляется по адресу: 5-я Кабельная улица дом 5 строение 1. Территориально наши магазины находятся недалеко от ТТК, рядом со станцией метро Авиамоторная, в современном спортивном торговом центре с развитой инфраструктурой - ТЦ "СпортЕХ". Здесь Ваш ждут, рестораны, парковка, бесплатный Wi-Fi и сотни других спортивных магазинов.
								p BoardShop - у нас можно купить лучшие сноуборды в Москве!
						.gallery_wrap_v1
								ul.gallery_v1
										li.gallery_item_v1
												img(src='i/content/gallery_item_1.jpg', alt='')
										li.gallery_item_v1
												img(src='i/content/gallery_item_2.jpg', alt='')
										li.gallery_item_v1
												img(src='i/content/gallery_item_3.jpg', alt='')
										li.gallery_item_v1
												img(src='i/content/gallery_item_4.jpg', alt='')
										li.gallery_item_v1
												img(src='i/content/gallery_item_5.jpg', alt='')
										li.gallery_item_v1
												img(src='i/content/gallery_item_6.jpg', alt='')
