include ../templates/mixins
.main_row
		.section
				include ../templates/primary_row
				.content_row
						ul.bread_crumbs
								li.bread_c__item
										a.bread_c_i__link(href='#', title='Главная')
												span.bread_c_i__title Главная
								li.bread_c__item
										span.bread_c_i__title О нас
						.content.static
								h1 О магазине
								p BoardShop — это магазины, где Вы сможете приобрести сноуборды и все что с ними связано. В наших магазинах представлена продукция ведущих сноубордических производителей со всего мира. Ассортимент подобран таким образом, чтобы удовлетворить потребности большинства покупателей. У нас Вы никогда не найдете низкокачественную продукцию или сомнительные бренды, но при этом, покупки в наших магазинах смогут совершить, как профессионалы, привыкшие к оборудованию высшего класса, так и начинающие сноубордисты, которые ищут недорогую продукцию высокого качества.
								p Так же предлагаем Вашему вниманию магазины с одеждой и аксессуарами, где Вы сможете найти широчайший ассортимент всего самого необходимого для катания на доске и продукции, которая поможет Вам и Вашим друзьям еще больше погрузиться в соответствующую атмосферу, даже когда Вы не на склоне. Для тех, кто не гонится за новыми коллекциями, мы стараемся собирать максимальное количество стоков, которые продаем по очень привлекательным ценам. Помимо этого постоянные акции и спецпредложения и дисконтная система помогут Вам совершить максимально выгодную покупку. Мы настолько уверены в своих ценах, что готовы сделать еще более выгодное предложение, если где-то Вы найдете дешевле.
								p Территориально наши магазины находятся недалеко от ТТК, в непосредственной близости от метро Авиамоторная, в ТЦ СпорТЕХ, современном спортивном торговом центре с развитой инфраструктурой. Здесь Ваш ждут, рестораны, парковка, бесплатный Wi-Fi и сотни других спортивных магазинов.
								h2 Описание - h2
								h3 Выберите размер - H3
								h4 Смотрите также - h4,h5,h6
								ul
										li: a(href="#" title="#") Гарантия
										li: a(href="#" title="#")  Контакты
										li: a(href="#" title="#")  Наши партнеры
										li: a(href="#" title="#")  Новости
										li: a(href="#" title="#")  Оплата и доставка
										li: a(href="#" title="#")  Подбор размера
										li: a(href="#" title="#")  Правила конкурса
										li: a(href="#" title="#")  Правила конкурса
										li: a(href="#" title="#")  Скидки
										li: a(href="#" title="#")  Статьи

